@mixin work-figure {
  a {
    @include link(invisible);

    img {
      max-width: $text-width / 1.5;
      max-height: $text-width / 1.5;
    }

    figcaption {
      display: flex;
      @include transform(scale(0));
    }
  }
}
