@mixin contact {
  // Align to the card
  margin-left: $lem;
  padding-left: 128px;

  div {
    margin-bottom: $lem / 4;
    @include font(navigation);
    
    a {
      @include link(icon);
    }
  }
}
