@mixin links {
  @include flexbox;

  div {
    margin-right: $lem;

    span {
      &.text {
        @include font(navigation);

        &:before {
          content: '\2014';
          display: inline-block;
          margin-right: $lem/4;
          color: $red;

          position: relative;
          top: -1px;
        }
      }
    }
  }
}
