@mixin work {
  @include flex-item($flex-basis: 50%);
  @include flexbox($justify-content: center, $align-items: center);

  background: lightgray;

  figure {
    padding: $lem;

    img {
      max-height: $text-width;
    }
  }

  &#iorad {
    background: hsla(220, 42%, 20%, .8);
  }

  &#occrp {
    background: hsl(181, 78%, 73%);
  }

  &#anvelocom {
    background: #f3aaaa;
  }

  &#scatter {
    background: hsl(31, 19%, 76%);
  }

  &#smuff {
    background: hsl(323, 73%, 84%);
  }
}
