@mixin work {
  @include flexbox($direction: column, $justify-content: center, $align-items: center);

  @include flex-item($flex-basis: calc(50% - 1px));
  //border-right: 1px solid ;
  //border-bottom: 1px solid ;

  @include mobile {
    @include flex-item($flex-basis: 100%);
    border-right: none;
  }

  padding-bottom: $lem;

  figure {
    padding: $lem $lem 0;
    @include mobile {
      padding: $lem * 2, $lem * 2 0;
    }

    img {
      max-height: $text-width;
      padding-bottom: $lem;
    }

    figcaption {
      display: block;
      text-align: center;

      @include uppercase;

      font-size: $heading-level-2;
    }
  }

  p {
    @include uppercase;
    font-size: smaller;
    color: $gray;
    position: relative;
    top: -$lem/4;
  }



  &#iorad {
    background: lighten(#8CBEB2, 20%);;
  }

  &#occrp {
    background: lighten(#C6A8C9, 15%);;
  }

  &#anvelocom {
    background: lighten(#F199A7, 15%);;
  }

  &#scatter {
    background: lighten(#99D6F1, 10%);;
  }

  &#inu-chivu {
    background: lighten(#1E4658, 55%);;
  }

  &#smuff {
    background: lighten(#C66B60, 30%);;
  }

}
