@mixin work {
  @include flexbox($justify-content: center, $align-items: center);
  @include grid;

  figure {
    padding: $lem * 2;

    img {
      max-height: $text-width / 1.5;
    }
  }

  p {
    display: none;
  }


  &:nth-of-type(odd) {
    background: $gray1;
  }

  &:nth-of-type(even) {
    background: $gray2;
  }

}
