








<article id="card">
  <h3>Card</h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/avatar-4x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/avatar-4x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/avatar-3x.png">
        <source srcset="/assets/images/avatar-2x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/avatar-2x.png" alt="Csongor Bartus">
      </picture>
      <figcaption>
        Csongor Bartus
      </figcaption>
    
  </figure>

  <aside>
    <h3>Personal info</h3>

    <div class="name">
      Csongor Bartus
    </div>

    <div class="skills">
      UI / UX / RWD / CMS
    </div>

    <div class="location">
      Budapest, Hungary, Europe
    </div>
  </aside>
</article>
