





<nav id="contact" class="icons">
  <h3>Contact</h3>

  
    


<div id="send-me an email" class="icon">
  
  <a href="mailto:bartus.csongor@gmail.com" alt="Send me an email">

  
    <span class="glyph icon-mail"></span>
    <span class="text">bartus.csongor@gmail.com</span>
  

  </a>
</div>

  
    


<div id="contact-via twitter" class="icon">
  <a href="http://twitter.com/metamn" alt="Contact via Twitter">
  

  
    <span class="glyph icon-twitter"></span>
    <span class="text">News on Twitter</span>
  

  </a>
</div>

  
    


<div id="code-samples on github" class="icon">
  <a href="http://github.com/metamn/its-csongor" alt="Code samples on Github">
  

  
    <span class="glyph icon-mark-github"></span>
    <span class="text">Code samples on Github</span>
  

  </a>
</div>

  
    


<div id="inspiration-on tumblr" class="icon">
  <a href="http://metamn.tumblr.com" alt="Inspiration on Tumblr">
  

  
    <span class="glyph icon-tumblr"></span>
    <span class="text">Inspiration on Tumblr</span>
  

  </a>
</div>

  
</nav>

