@mixin graph {
  font-size: small;
  padding: $lem 0;

  .item {
    @include flexbox($wrap: nowrap, $justify-content: space-between);
    margin-bottom: 1px;

    &.size-7 {
      @include linear-gradient($iorad, 70%, 30%);
    }

    &.size-6 {
      @include linear-gradient($iorad, 60%, 40%);
    }

    &.size-5 {
      @include linear-gradient($iorad, 50%, 50%);
    }

    &.size-4 {
      @include linear-gradient($iorad, 40%, 60%);
    }

    &.size-3 {
      @include linear-gradient($iorad, 30%, 70%);
    }

    &.size-2 {
      @include linear-gradient($iorad, 20%, 80%);
    }

    &.size-1 {
      @include linear-gradient($iorad, 10%, 90%);
    }
  }
}
