@mixin graph {
  font-size: small;
  padding: $lem 0;

  .item {
    @include flexbox($wrap: nowrap, $justify-content: space-between);
    padding: $lem/6 $lem/4;

    &.size-7 {
      @include linear-gradient(70%);
    }

    &.size-6 {
      @include linear-gradient(60%);
    }

    &.size-5 {
      @include linear-gradient(50%);
    }

    &.size-4 {
      @include linear-gradient(40%);
    }

    &.size-3 {
      @include linear-gradient(30%);
    }

    &.size-2 {
      @include linear-gradient(20%);
    }

    &.size-1 {
      @include linear-gradient(10%);
    }
  }
}
