// Colors
//

// Color codes
$white: hsla(0, 0, 97.5%, 1);
$black: hsla(0, 0%, 10%, 1);
$red: hsla(0, 100%, 50%, 1);

$gray1: hsla(0, 0%, 95%, 1);
$gray2: hsla(0, 0%, 92%, 1);

$iorad: hsla(144, 42%, 56%, 1);
$occrp: hsla(181, 89%, 74%, 1);
$anvelocom: hsla(17, 30%, 50%, .1);
$scatter: hsla(24, 65%, 84%, 1);
$inu: darkgray;
$smuff: hsla(317, 78%, 89%, 1);

// Color pairs
// - colors don't come along but on a background
@mixin colors($scheme: black-on-white) {
  @if ($scheme == black-on-white) {
    color: $black;
    background-color: $white;
  }

  @if ($scheme == white-on-black) {
    color: $white;
    background-color: $black;
  }
}
