// Colors
//

// Color codes
$white: hsla(0, 0, 97.5%, 1);
$black: hsla(0, 0%, 10%, 1);
$red: hsla(0, 100%, 50%, 1);

$grey: #f1f1f1;
$gray: $grey;

// This is the iorad blue
$iorad: lighten(hsl(220, 42%, 20%), 65%);

// This is the scatter blue
$scatter: lighten(hsl(203, 84%, 71%), 20%);




// Color pairs
// - colors don't come along but on a background
@mixin colors($scheme: black-on-white) {
  @if ($scheme == black-on-white) {
    color: $black;
    background-color: $white;
  }

  @if ($scheme == white-on-black) {
    color: $white;
    background-color: $black;
  }
}
