

// Responsive Typography
// - Responsive font sizes and line heights

@mixin responsive-typography {
  // Font size for mobile
  @include mobile {
    font-size: 100%;
    line-height: 1.56;
  }

  // Font size for tablets and laptops
  font-size: 125%;
  line-height: 1.56;

  // Font size for desktops
  @include desktop-and-up {
    font-size: 150%;
    line-height: 1.56;
  }

}
