
// Responsive grid units
// - $lem is for padding and sizing common elements, $text-width is for sizing text blocks

@mixin responsive-grid-units {
  // Line height and text width for mobile 
  $lem: 1.25em !global;
  $text-width: $lem * 15 !global;

  // Line height and text width for laptop
  @include laptop-and-up {
    $lem: 1.56em !global;
    $text-width: $lem * 15 !global;
  }

  // Line height and text width for desktop
  @include desktop-and-up {
    $lem: 1.56em !global;
    $text-width: $lem * 15 !global;
  }

}
