








<!doctype html>
<html lang="en" class="anvelocom">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Anvelocom &mdash; It&#39;s Csongor</title>

    <link href="/assets/styles/all.min.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>

    <!-- Typekit -->
    <script src="//use.typekit.net/qiy3lwz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

<header>
  


<div id="logo">
  <h1>
    


<a href="/" title="It&lt;span&gt;&#39;&lt;/span&gt;s Csongor">
  
    It<span>'</span>s Csongor
  
</a>

  </h1>
</div>

</header>




<section id="portfolio-header">
  <h3>Portfolio header</h3>

  
<article id="portfolio-title">
  <h3>Portfolio title</h3>

  <h2>


<a href="/" title="It&lt;span&gt;&#39;&lt;/span&gt;s Csongor">
  
    It<span>'</span>s Csongor
  
</a>
</h2>

</article>

  <article id="portfolio-services">
  <h3>Portfolio services</h3>

  
    <ul>
    <li>Identity</li>
    
  
    
    <li>Responsive web design</li>
    
  
    
    <li>Front&mdash;end development</li>
    
  
    
    <li>Back&mdash;end development</li>
    </ul>
  
</article>

  <article id="portfolio-technologies">
  <h3>Portfolio technologies</h3>

  
    <ul>
    <li>Wordpress</li>
    
  
    
    <li>HTML5</li>
    
  
    
    <li>CSS3</li>
    
  
    
    <li>SASS</li>
    
  
    
    <li>jQuery</li>
    </ul>
  
</article>


</section>

<section id="portfolio-subtitle">
  <h3>Portfolio subtitle</h3>

  <article id="subtitle">
    <h3>Subtitle</h3>

    
      <p>Anvelocom started as a Wordpress blog to research the market for auto off-road accessories and tuning equipment.</p>
    
      <p>After initial success we&#39;ve created a responsive e-commerce Wordpress theme together with a strong visual identity.</p>
    
      <p>A programming challenge was to create dynamic filters for products which work with any number of categories and combinations.</p>
    
  </article>



  
    
      


<article id="the-anvelocom frontpage on mobile" class="work">
  
  <h3>
    


<a href="/the-anvelocom frontpage on mobile" title="The Anvelocom frontpage on mobile">
  
    The Anvelocom frontpage on mobile
  
</a>

  </h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/anvelocom-frontpage-mobile-portrait-1x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/anvelocom-frontpage-mobile-portrait-1x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/anvelocom-frontpage-mobile-portrait-1x.png">
        <source srcset="/assets/images/anvelocom-frontpage-mobile-portrait-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/anvelocom-frontpage-mobile-portrait-1x.png" alt="">
      </picture>
      <figcaption>
        
      </figcaption>
    
  </figure>
</article>

    
  
    
      


<article id="the-anvelocom menu on mobile" class="work">
  
  <h3>
    


<a href="/the-anvelocom menu on mobile" title="The Anvelocom menu on mobile">
  
    The Anvelocom menu on mobile
  
</a>

  </h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/anvelocom-menu-mobile-portrait-1x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/anvelocom-menu-mobile-portrait-1x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/anvelocom-menu-mobile-portrait-1x.png">
        <source srcset="/assets/images/anvelocom-menu-mobile-portrait-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/anvelocom-menu-mobile-portrait-1x.png" alt="">
      </picture>
      <figcaption>
        
      </figcaption>
    
  </figure>
</article>

    
  
    
      


<article id="the-anvelocom archive page on mobile" class="work">
  
  <h3>
    


<a href="/the-anvelocom archive page on mobile" title="The Anvelocom archive page on mobile">
  
    The Anvelocom archive page on mobile
  
</a>

  </h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/anvelocom-archive-mobile-portrait-1x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/anvelocom-archive-mobile-portrait-1x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/anvelocom-archive-mobile-portrait-1x.png">
        <source srcset="/assets/images/anvelocom-archive-mobile-portrait-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/anvelocom-archive-mobile-portrait-1x.png" alt="">
      </picture>
      <figcaption>
        
      </figcaption>
    
  </figure>
</article>

    
  


</section>







<section id="menu">
  <h3>Menu</h3>

  
  


<nav id="main-menu">
  <h3>Main menu</h3>

  
    


<a href="about" title="About">
  
    About
  
</a>

  
    


<a href="contact" title="Contact">
  
    Contact
  
</a>

  
    


<a href="styleguide" title="Styleguide">
  
    Styleguide
  
</a>

  
</nav>

</section>


<!-- jQuery from CDN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Site specific scripts  -->
<script src="/assets/scripts/all.min.js"></script>


</body>
</html>

