





<!doctype html>
<html lang="en" class="anvelocom">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>It&#39;s Csongor &mdash; Anvelocom</title>

    <link href="/assets/styles/all.min.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>

    <!-- Typekit -->
    <script src="//use.typekit.net/qiy3lwz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

<header>
  

<div id="logo">
  <h1>
    <a href="/" title="It&#39;s Csongor">It&#39;s Csongor</a>
  </h1>
</div>

</header>




<section id="portfolio-header">
  <h3>Portfolio header</h3>

  

<article id="portfolio-title">
  <h3>Portfolio title</h3>

  <h2><a href="http://metamn.github.io/cs3-v2" title="Anvelocom">Anvelocom</a></h2>
  
</article>

  <article id="portfolio-services">
  <h3>Portfolio services</h3>

  
    <ul>
    <li>Identity</li>
    
  
    
    <li>Responsive web design</li>
    
  
    
    <li>Front&mdash;end development</li>
    
  
    
    <li>Back&mdash;end development</li>
    </ul>
  
</article>

  <article id="portfolio-technologies">
  <h3>Portfolio technologies</h3>

  
    <ul>
    <li>Wordpress</li>
    
  
    
    <li>HTML5</li>
    
  
    
    <li>CSS3</li>
    
  
    
    <li>SASS</li>
    
  
    
    <li>jQuery</li>
    </ul>
  
</article>


</section>

<section id="portfolio-subtitle">
  <h3>Portfolio subtitle</h3>

  <article id="subtitle">
    <h3>Subtitle</h3>

    
      <p>Anvelocom started as a Wordpress blog to research the market for auto off-road accessories and tuning equipment.</p>
    
      <p>After initial success we&#39;ve created a responsive e-commerce Wordpress theme together with a strong visual identity.</p>
    
      <p>A programming challenge was to create dynamic filters for products which work with any number of categories and combinations.</p>
    
  </article>



  
    
      


<article id="the-anvelocom frontpage on mobile" class="work">
  <h3>The Anvelocom frontpage on mobile</h3>

  

  <figure>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source media="(min-width: 90em)" srcset="/assets/images/anvelocom-frontpage-mobile-portrait-1x.png">
      <source media="(min-width: 64em)" srcset="/assets/images/anvelocom-frontpage-mobile-portrait-1x.png">
      <source media="(min-width: 37.5em)" srcset="/assets/images/anvelocom-frontpage-mobile-portrait-1x.png">
      <source srcset="/assets/images/anvelocom-frontpage-mobile-portrait-1x.png">
      <!--[if IE 9]></video><![endif]-->

      <img src="/assets/images/anvelocom-frontpage-mobile-portrait-1x.png" alt="The Anvelocom frontpage on mobile">
    </picture>
    <figcaption>The Anvelocom frontpage on mobile</figcaption>
  </figure>

  <p>
    
  </p>
</article>

    
  
    
      


<article id="the-anvelocom menu on mobile" class="work">
  <h3>The Anvelocom menu on mobile</h3>

  

  <figure>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source media="(min-width: 90em)" srcset="/assets/images/anvelocom-menu-mobile-portrait-1x.png">
      <source media="(min-width: 64em)" srcset="/assets/images/anvelocom-menu-mobile-portrait-1x.png">
      <source media="(min-width: 37.5em)" srcset="/assets/images/anvelocom-menu-mobile-portrait-1x.png">
      <source srcset="/assets/images/anvelocom-menu-mobile-portrait-1x.png">
      <!--[if IE 9]></video><![endif]-->

      <img src="/assets/images/anvelocom-menu-mobile-portrait-1x.png" alt="The Anvelocom menu on mobile">
    </picture>
    <figcaption>The Anvelocom menu on mobile</figcaption>
  </figure>

  <p>
    
  </p>
</article>

    
  
    
      


<article id="the-anvelocom archive page on mobile" class="work">
  <h3>The Anvelocom archive page on mobile</h3>

  

  <figure>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source media="(min-width: 90em)" srcset="/assets/images/anvelocom-archive-mobile-portrait-1x.png">
      <source media="(min-width: 64em)" srcset="/assets/images/anvelocom-archive-mobile-portrait-1x.png">
      <source media="(min-width: 37.5em)" srcset="/assets/images/anvelocom-archive-mobile-portrait-1x.png">
      <source srcset="/assets/images/anvelocom-archive-mobile-portrait-1x.png">
      <!--[if IE 9]></video><![endif]-->

      <img src="/assets/images/anvelocom-archive-mobile-portrait-1x.png" alt="The Anvelocom archive page on mobile">
    </picture>
    <figcaption>The Anvelocom archive page on mobile</figcaption>
  </figure>

  <p>
    
  </p>
</article>

    
  


</section>





<section id="menu">
  <h3>Menu</h3>

  <!--
  
  


<nav id="contact" class="icons">
  <h3>Contact</h3>

  
</nav>

-->


  
  


<nav id="links" class="icons">
  <h3>Links</h3>

  
    


<div id="about" class="icon">
  
    <span class="glyph icon-"></span>
    <span class="text">About</span>
  
</div>

  
    


<div id="contact" class="icon">
  
    <span class="glyph icon-"></span>
    <span class="text">Contact</span>
  
</div>

  
    


<div id="styleguide" class="icon">
  
    <span class="glyph icon-"></span>
    <span class="text">Styleguide</span>
  
</div>

  
</nav>

</section>


<!-- jQuery from CDN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Site specific scripts  -->
<script src="/assets/scripts/all.min.js"></script>


</body>
</html>

