








<!doctype html>
<html lang="en" class="home">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Home &mdash; It&#39;s Csongor</title>

    <link href="http://metamn.github.io/cs3-v2/assets/styles/all.min.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="http://metamn.github.io/cs3-v2/assets/scripts/picturefill.min.js"></script>

    <!-- Typekit -->
    <script src="//use.typekit.net/qiy3lwz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

<header>
  


<div id="logo">
  <h1>
    


<a href="http://metamn.github.io/cs3-v2" title="It&lt;span&gt;&#39;&lt;/span&gt;s Csongor">
  
    It<span>'</span>s Csongor
  
</a>

  </h1>
</div>

</header>





<section id="about">
  <h3>About</h3>

  <p>
    I'm a user interface / experience designer <span>and</span> front&mdash;end developer creating responsive websites.
  </p>
</section>

<section id="works">
  <h3>Works</h3>

  
    


<article id="iorad" class="work">
  
  <h3>
    


<a href="iorad" title="Iorad">
  
    Iorad
  
</a>

  </h3>

  

  <figure>
    <a href="http://metamn.github.io/cs3-v2/iorad" title="Pricing and checkout page design">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="http://metamn.github.io/cs3-v2/assets/images/iorad-pricing-laptop-front-2x.png">
        <source media="(min-width: 64em)" srcset="http://metamn.github.io/cs3-v2/assets/images/iorad-pricing-laptop-front-2x.png">
        <source media="(min-width: 37.5em)" srcset="http://metamn.github.io/cs3-v2/assets/images/iorad-pricing-laptop-front-1x.png">
        <source srcset="http://metamn.github.io/cs3-v2/assets/images/iorad-pricing-laptop-front-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="http://metamn.github.io/cs3-v2/assets/images/iorad-pricing-laptop-front-1x.png" alt="Pricing and checkout page design">
      </picture>
      <figcaption>
        Pricing and checkout page design
      </figcaption>
    </a>
  </figure>
</article>

  
    


<article id="occrp" class="work">
  
  <h3>
    


<a href="occrp" title="OCCRP">
  
    OCCRP
  
</a>

  </h3>

  

  <figure>
    <a href="http://metamn.github.io/cs3-v2/occrp" title="Website redesign">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="http://metamn.github.io/cs3-v2/assets/images/occrp-frontpage-mobile-portrait-1x.png">
        <source media="(min-width: 64em)" srcset="http://metamn.github.io/cs3-v2/assets/images/occrp-frontpage-mobile-portrait-1x.png">
        <source media="(min-width: 37.5em)" srcset="http://metamn.github.io/cs3-v2/assets/images/occrp-frontpage-mobile-portrait-1x.png">
        <source srcset="http://metamn.github.io/cs3-v2/assets/images/occrp-frontpage-mobile-portrait-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="http://metamn.github.io/cs3-v2/assets/images/occrp-frontpage-mobile-portrait-1x.png" alt="Website redesign">
      </picture>
      <figcaption>
        Website redesign
      </figcaption>
    </a>
  </figure>
</article>

  
    


<article id="anvelocom" class="work">
  
  <h3>
    


<a href="anvelocom" title="Anvelocom">
  
    Anvelocom
  
</a>

  </h3>

  

  <figure>
    <a href="http://metamn.github.io/cs3-v2/anvelocom" title="E-commerce">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="http://metamn.github.io/cs3-v2/assets/images/anvelocom-archive-tablet-portrait-1x.png">
        <source media="(min-width: 64em)" srcset="http://metamn.github.io/cs3-v2/assets/images/anvelocom-archive-tablet-portrait-1x.png">
        <source media="(min-width: 37.5em)" srcset="http://metamn.github.io/cs3-v2/assets/images/anvelocom-archive-tablet-portrait-1x.png">
        <source srcset="http://metamn.github.io/cs3-v2/assets/images/anvelocom-archive-tablet-portrait-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="http://metamn.github.io/cs3-v2/assets/images/anvelocom-archive-tablet-portrait-1x.png" alt="E-commerce">
      </picture>
      <figcaption>
        E-commerce
      </figcaption>
    </a>
  </figure>
</article>

  
    


<article id="scatter" class="work">
  
  <h3>
    


<a href="scatter" title="Scatter">
  
    Scatter
  
</a>

  </h3>

  

  <figure>
    <a href="http://metamn.github.io/cs3-v2/scatter" title="Landing and pricing page design">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="http://metamn.github.io/cs3-v2/assets/images/scatter-frontpage-2-desktop-front-2x.png">
        <source media="(min-width: 64em)" srcset="http://metamn.github.io/cs3-v2/assets/images/scatter-frontpage-2-desktop-front-2x.png">
        <source media="(min-width: 37.5em)" srcset="http://metamn.github.io/cs3-v2/assets/images/scatter-frontpage-2-desktop-front-1x.png">
        <source srcset="http://metamn.github.io/cs3-v2/assets/images/scatter-frontpage-2-desktop-front-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="http://metamn.github.io/cs3-v2/assets/images/scatter-frontpage-2-desktop-front-1x.png" alt="Landing and pricing page design">
      </picture>
      <figcaption>
        Landing and pricing page design
      </figcaption>
    </a>
  </figure>
</article>

  
    


<article id="inu-chivu" class="work">
  
  <h3>
    


<a href="inu-chivu" title="Inu Chivu">
  
    Inu Chivu
  
</a>

  </h3>

  

  <figure>
    <a href="http://metamn.github.io/cs3-v2/inu-chivu" title="Artist portfolio">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="http://metamn.github.io/cs3-v2/assets/images/inu-portfolio-thumb-1x.png">
        <source media="(min-width: 64em)" srcset="http://metamn.github.io/cs3-v2/assets/images/inu-portfolio-thumb-1x.png">
        <source media="(min-width: 37.5em)" srcset="http://metamn.github.io/cs3-v2/assets/images/inu-portfolio-thumb-1x.png">
        <source srcset="http://metamn.github.io/cs3-v2/assets/images/inu-portfolio-thumb-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="http://metamn.github.io/cs3-v2/assets/images/inu-portfolio-thumb-1x.png" alt="Artist portfolio">
      </picture>
      <figcaption>
        Artist portfolio
      </figcaption>
    </a>
  </figure>
</article>

  
    


<article id="smuff" class="work">
  
  <h3>
    


<a href="smuff" title="Smuff">
  
    Smuff
  
</a>

  </h3>

  

  <figure>
    <a href="http://metamn.github.io/cs3-v2/smuff" title="E-commerce">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="http://metamn.github.io/cs3-v2/assets/images/smuff-portfolio-thumb-2x.png">
        <source media="(min-width: 64em)" srcset="http://metamn.github.io/cs3-v2/assets/images/smuff-portfolio-thumb-2x.png">
        <source media="(min-width: 37.5em)" srcset="http://metamn.github.io/cs3-v2/assets/images/smuff-portfolio-thumb-1x.png">
        <source srcset="http://metamn.github.io/cs3-v2/assets/images/smuff-portfolio-thumb-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="http://metamn.github.io/cs3-v2/assets/images/smuff-portfolio-thumb-1x.png" alt="E-commerce">
      </picture>
      <figcaption>
        E-commerce
      </figcaption>
    </a>
  </figure>
</article>

  
</section>




<section id="profile">
  <h3>Profile</h3>

  








<article id="card">
  <h3>Card</h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="http://metamn.github.io/cs3-v2/assets/images/avatar-4x.png">
        <source media="(min-width: 64em)" srcset="http://metamn.github.io/cs3-v2/assets/images/avatar-4x.png">
        <source media="(min-width: 37.5em)" srcset="http://metamn.github.io/cs3-v2/assets/images/avatar-3x.png">
        <source srcset="http://metamn.github.io/cs3-v2/assets/images/avatar-2x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="http://metamn.github.io/cs3-v2/assets/images/avatar-2x.png" alt="Csongor Bartus">
      </picture>
      <figcaption>
        Csongor Bartus
      </figcaption>
    
  </figure>

  <aside>
    <h3>Personal info</h3>

    <div class="name">
      Csongor Bartus
    </div>

    <div class="location">
      Budapest, Hungary, Europe
    </div>

    <div class="skills">
      UI - UX - RWD - CMS
    </div>

  </aside>
</article>

  





<nav id="contact" class="icons">
  <h3>Contact</h3>

  
    


<div id="send-me an email" class="icon">
  
  <a href="mailto:bartus.csongor@gmail.com" alt="Send me an email">

  
    <span class="glyph icon-mail"></span>
    <span class="text">bartus.csongor@gmail.com</span>
  

  </a>
</div>

  
    


<div id="contact-via twitter" class="icon">
  <a href="http://twitter.com/metamn" alt="Contact via Twitter">
  

  
    <span class="glyph icon-twitter"></span>
    <span class="text">News on Twitter</span>
  

  </a>
</div>

  
    


<div id="code-samples on github" class="icon">
  <a href="http://github.com/metamn/its-csongor" alt="Code samples on Github">
  

  
    <span class="glyph icon-mark-github"></span>
    <span class="text">Code samples on Github</span>
  

  </a>
</div>

  
    


<div id="inspiration-on tumblr" class="icon">
  <a href="http://metamn.tumblr.com" alt="Inspiration on Tumblr">
  

  
    <span class="glyph icon-tumblr"></span>
    <span class="text">Inspiration on Tumblr</span>
  

  </a>
</div>

  
</nav>



</section>


<!-- jQuery from CDN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Site specific scripts  -->
<script src="http://metamn.github.io/cs3-v2/assets/scripts/all.min.js"></script>


</body>
</html>

