



<html lang="en" class="home">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Home</title>

    <link href="assets/styles/home.min.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="assets/scripts/picturefill.min.js"></script>

    <!-- Typekit -->
    <script src="//use.typekit.net/qiy3lwz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

<header>
  

<div id="logo">
  
<div class="square">
</div>

  <h1>
      <a href="/" title="It&#39;s Csongor">It&#39;s Csongor</a>
  </h1>
</div>

</header>



<section id="about">
  <h3>About</h3>

  <p>
    Hello, I'm a user interface / experience designer <span>and</span> front-end developer creating responsive websites.
  </p>
</section>

<section id="works">
  <h3>Works</h3>

  
    


<article id="iorad">
  <h3>Iorad</h3>

  

  <figure>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source media="(min-width: 90em)" srcset="assets/images/iorad-pricing-laptop-front-2x.png">
      <source media="(min-width: 64em)" srcset="assets/images/iorad-pricing-laptop-front-2x.png">
      <source media="(min-width: 37.5em)" srcset="assets/images/iorad-pricing-laptop-front-1x.png">
      <source srcset="assets/images/iorad-pricing-laptop-front-1x.png">
      <!--[if IE 9]></video><![endif]-->

      <img src="assets/images/iorad-pricing-laptop-front-1x.png" alt="Iorad">
    </picture>
    <figcaption>Iorad</figcaption>
  </figure>
</article>

  
    


<article id="occrp">
  <h3>OCCRP</h3>

  

  <figure>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source media="(min-width: 90em)" srcset="assets/images/occrp-frontpage-mobile-portrait-1x.png">
      <source media="(min-width: 64em)" srcset="assets/images/occrp-frontpage-mobile-portrait-1x.png">
      <source media="(min-width: 37.5em)" srcset="assets/images/occrp-frontpage-mobile-portrait-1x.png">
      <source srcset="assets/images/occrp-frontpage-mobile-portrait-1x.png">
      <!--[if IE 9]></video><![endif]-->

      <img src="assets/images/occrp-frontpage-mobile-portrait-1x.png" alt="OCCRP">
    </picture>
    <figcaption>OCCRP</figcaption>
  </figure>
</article>

  
    


<article id="anvelocom">
  <h3>Anvelocom</h3>

  

  <figure>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source media="(min-width: 90em)" srcset="assets/images/anvelocom-archive-tablet-portrait-1x.png">
      <source media="(min-width: 64em)" srcset="assets/images/anvelocom-archive-tablet-portrait-1x.png">
      <source media="(min-width: 37.5em)" srcset="assets/images/anvelocom-archive-tablet-portrait-1x.png">
      <source srcset="assets/images/anvelocom-archive-tablet-portrait-1x.png">
      <!--[if IE 9]></video><![endif]-->

      <img src="assets/images/anvelocom-archive-tablet-portrait-1x.png" alt="Anvelocom">
    </picture>
    <figcaption>Anvelocom</figcaption>
  </figure>
</article>

  
    


<article id="scatter">
  <h3>Scatter</h3>

  

  <figure>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source media="(min-width: 90em)" srcset="assets/images/scatter-frontpage-2-desktop-front-2x.png">
      <source media="(min-width: 64em)" srcset="assets/images/scatter-frontpage-2-desktop-front-2x.png">
      <source media="(min-width: 37.5em)" srcset="assets/images/scatter-frontpage-2-desktop-front-1x.png">
      <source srcset="assets/images/scatter-frontpage-2-desktop-front-1x.png">
      <!--[if IE 9]></video><![endif]-->

      <img src="assets/images/scatter-frontpage-2-desktop-front-1x.png" alt="Scatter">
    </picture>
    <figcaption>Scatter</figcaption>
  </figure>
</article>

  
    


<article id="inu-chivu">
  <h3>Inu Chivu</h3>

  

  <figure>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source media="(min-width: 90em)" srcset="assets/images/inu-portfolio-thumb.png">
      <source media="(min-width: 64em)" srcset="assets/images/inu-portfolio-thumb.png">
      <source media="(min-width: 37.5em)" srcset="assets/images/inu-portfolio-thumb.png">
      <source srcset="assets/images/inu-portfolio-thumb.png">
      <!--[if IE 9]></video><![endif]-->

      <img src="assets/images/inu-portfolio-thumb.png" alt="Inu Chivu">
    </picture>
    <figcaption>Inu Chivu</figcaption>
  </figure>
</article>

  
    


<article id="smuff">
  <h3>Smuff</h3>

  

  <figure>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source media="(min-width: 90em)" srcset="assets/images/smuff-portfolio-thumb2.png">
      <source media="(min-width: 64em)" srcset="assets/images/smuff-portfolio-thumb2.png">
      <source media="(min-width: 37.5em)" srcset="assets/images/smuff-portfolio-thumb2.png">
      <source srcset="assets/images/smuff-portfolio-thumb2.png">
      <!--[if IE 9]></video><![endif]-->

      <img src="assets/images/smuff-portfolio-thumb2.png" alt="Smuff">
    </picture>
    <figcaption>Smuff</figcaption>
  </figure>
</article>

  
</section>



<!-- jQuery from CDN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Site specific scripts  -->
<script src="assets/scripts/main.min.js"></script>


</body>
</html>

