








<!doctype html>
<html lang="en" class="inu-chivu">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>It&#39;s Csongor &mdash; Inu Chivu</title>

    <link href="/assets/styles/all.min.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>

    <!-- Typekit -->
    <script src="//use.typekit.net/qiy3lwz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

<header>
  
<div id="logo">
  <h1>
    


<a href="/" title="It&#39;s Csongor">
  
    It&#39;s Csongor
  
</a>
 
  </h1>
</div>

</header>




<section id="portfolio-header">
  <h3>Portfolio header</h3>

  
<article id="portfolio-title">
  <h3>Portfolio title</h3>

  <h2>


<a href="/inu-chivu" title="Inu Chivu">
  
    Inu Chivu
  
</a>
</h2>

</article>

  <article id="portfolio-services">
  <h3>Portfolio services</h3>

  
    <ul>
    <li>Identity</li>
    
  
    
    <li>Responsive web design</li>
    
  
    
    <li>Front&mdash;end development</li>
    
  
    
    <li>Back&mdash;end development</li>
    </ul>
  
</article>

  <article id="portfolio-technologies">
  <h3>Portfolio technologies</h3>

  
    <ul>
    <li>Wordpress</li>
    
  
    
    <li>HTML5</li>
    
  
    
    <li>CSS3</li>
    
  
    
    <li>SASS</li>
    
  
    
    <li>jQuery</li>
    </ul>
  
</article>


</section>

<section id="portfolio-subtitle">
  <h3>Portfolio subtitle</h3>

  <article id="subtitle">
    <h3>Subtitle</h3>

    
      <p>Trapped with old technology powering his old portfolio Inu wanted a new website with a modern dashboard and a minimalist look.</p>
    
      <p>We have created a special Wordpress backend for easy photography publishing. And a clean design which stays out of the viewer&#39;s way and is enjoyable even on small screens.</p>
    
  </article>



  
    
      


<article id="the-inu chivu frontpage on mobile" class="work">
  <h3>The Inu Chivu frontpage on mobile</h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/inu-frontpage-mobile-portrait-1x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/inu-frontpage-mobile-portrait-1x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/inu-frontpage-mobile-portrait-1x.png">
        <source srcset="/assets/images/inu-frontpage-mobile-portrait-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/inu-frontpage-mobile-portrait-1x.png" alt="The Inu Chivu frontpage on mobile">
      </picture>
      <figcaption>The Inu Chivu frontpage on mobile</figcaption>
    
  </figure>

  <p>
    
  </p>
</article>

    
  
    
      


<article id="the-inu chivu white menu on mobile" class="work">
  <h3>The Inu Chivu white menu on mobile</h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/inu-menu-white-mobile-portrait-1x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/inu-menu-white-mobile-portrait-1x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/inu-menu-white-mobile-portrait-1x.png">
        <source srcset="/assets/images/inu-menu-white-mobile-portrait-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/inu-menu-white-mobile-portrait-1x.png" alt="The Inu Chivu white menu on mobile">
      </picture>
      <figcaption>The Inu Chivu white menu on mobile</figcaption>
    
  </figure>

  <p>
    
  </p>
</article>

    
  
    
      


<article id="the-inu chivu black menu on mobile" class="work">
  <h3>The Inu Chivu black menu on mobile</h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/inu-menu-black-mobile-portrait-1x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/inu-menu-black-mobile-portrait-1x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/inu-menu-black-mobile-portrait-1x.png">
        <source srcset="/assets/images/inu-menu-black-mobile-portrait-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/inu-menu-black-mobile-portrait-1x.png" alt="The Inu Chivu black menu on mobile">
      </picture>
      <figcaption>The Inu Chivu black menu on mobile</figcaption>
    
  </figure>

  <p>
    
  </p>
</article>

    
  


</section>





<section id="menu">
  <h3>Menu</h3>

  <!--
  
  


<nav id="contact" class="icons">
  <h3>Contact</h3>

  
</nav>

-->


  
  


<nav id="links" class="icons">
  <h3>Links</h3>

  
    


<div id="about" class="icon">
  
    <span class="glyph icon-"></span>
    <span class="text">About</span>
  
</div>

  
    


<div id="contact" class="icon">
  
    <span class="glyph icon-"></span>
    <span class="text">Contact</span>
  
</div>

  
    


<div id="styleguide" class="icon">
  
    <span class="glyph icon-"></span>
    <span class="text">Styleguide</span>
  
</div>

  
</nav>

</section>


<!-- jQuery from CDN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Site specific scripts  -->
<script src="/assets/scripts/all.min.js"></script>


</body>
</html>

