








<!doctype html>
<html lang="en" class="iorad">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Iorad &mdash; It&#39;s Csongor</title>

    <link href="/assets/styles/all.min.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>

    <!-- Typekit -->
    <script src="//use.typekit.net/qiy3lwz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

<header>
  


<div id="logo">
  <h1>
    


<a href="/" title="It&lt;span&gt;&#39;&lt;/span&gt;s Csongor">
  
    It<span>'</span>s Csongor
  
</a>

  </h1>
</div>

</header>




<section id="portfolio-header">
  <h3>Portfolio header</h3>

  
<article id="portfolio-title">
  <h3>Portfolio title</h3>

  <h2>


<a href="/" title="It&lt;span&gt;&#39;&lt;/span&gt;s Csongor">
  
    It<span>'</span>s Csongor
  
</a>
</h2>

</article>

  <article id="portfolio-services">
  <h3>Portfolio services</h3>

  
    <ul>
    <li>Responsive web design</li>
    
  
    
    <li>Front&mdash;end development</li>
    </ul>
  
</article>

  <article id="portfolio-technologies">
  <h3>Portfolio technologies</h3>

  
    <ul>
    <li>HTML5</li>
    
  
    
    <li>CSS3</li>
    
  
    
    <li>SASS</li>
    
  
    
    <li>jQuery</li>
    </ul>
  
</article>


</section>

<section id="portfolio-subtitle">
  <h3>Portfolio subtitle</h3>

  <article id="subtitle">
    <h3>Subtitle</h3>

    
      <p>iorad is a startup in the beta launch phase going live at the first time in the next weeks.</p>
    
      <p>Prior the launch they&#39;ve decided to give a face lift for their two most important pages: the Pricing and the Checkout page.</p>
    
      <p>The project requirements were: speed of execution, keeping current visual assets untouched, cross-device and cross-browser compatibility. And a week duration from signing the contract to the final delivery.</p>
    
  </article>



  
    
      


<article id="iorad-pricing page on mobile" class="work">
  
  <h3>
    


<a href="/iorad-pricing page on mobile" title="Iorad pricing page on mobile">
  
    Iorad pricing page on mobile
  
</a>

  </h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/iorad-pricing-mobile-portrait-1x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/iorad-pricing-mobile-portrait-1x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/iorad-pricing-mobile-portrait-1x.png">
        <source srcset="/assets/images/iorad-pricing-mobile-portrait-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/iorad-pricing-mobile-portrait-1x.png" alt="Iorad pricing page on mobile">
      </picture>
      <figcaption>Iorad pricing page on mobile</figcaption>
    
  </figure>

  
  <p>
    


<a href="/" title="">
  
    
  
</a>

  </p>
</article>

    
  
    
      


<article id="iorad-checkout page on mobile" class="work">
  
  <h3>
    


<a href="/iorad-checkout page on mobile" title="Iorad checkout page on mobile">
  
    Iorad checkout page on mobile
  
</a>

  </h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/iorad-checkout-mobile-portrait-1x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/iorad-checkout-mobile-portrait-1x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/iorad-checkout-mobile-portrait-1x.png">
        <source srcset="/assets/images/iorad-checkout-mobile-portrait-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/iorad-checkout-mobile-portrait-1x.png" alt="Iorad checkout page on mobile">
      </picture>
      <figcaption>Iorad checkout page on mobile</figcaption>
    
  </figure>

  
  <p>
    


<a href="/" title="">
  
    
  
</a>

  </p>
</article>

    
  


</section>







<section id="menu">
  <h3>Menu</h3>

  
  


<nav id="main-menu">
  <h3>Main menu</h3>

  
    


<a href="about" title="About">
  
    About
  
</a>

  
    


<a href="contact" title="Contact">
  
    Contact
  
</a>

  
    


<a href="styleguide" title="Styleguide">
  
    Styleguide
  
</a>

  
</nav>

</section>


<!-- jQuery from CDN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Site specific scripts  -->
<script src="/assets/scripts/all.min.js"></script>


</body>
</html>

