








<!doctype html>
<html lang="en" class="occrp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>OCCRP &mdash; It&#39;s Csongor</title>

    <link href="/assets/styles/all.min.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>

    <!-- Typekit -->
    <script src="//use.typekit.net/qiy3lwz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

<header>
  
<div id="logo">
  <h1>
    


<a href="/" title="It&#39;s Csongor">
  
    It&#39;s Csongor
  
</a>
 
  </h1>
</div>

</header>




<section id="portfolio-header">
  <h3>Portfolio header</h3>

  
<article id="portfolio-title">
  <h3>Portfolio title</h3>

  <h2>


<a href="/occrp" title="OCCRP">
  
    OCCRP
  
</a>
</h2>

</article>

  <article id="portfolio-services">
  <h3>Portfolio services</h3>

  
    <ul>
    <li>Responsive web design</li>
    
  
    
    <li>Front&mdash;end development</li>
    </ul>
  
</article>

  <article id="portfolio-technologies">
  <h3>Portfolio technologies</h3>

  
    <ul>
    <li>HTML5</li>
    
  
    
    <li>CSS3</li>
    
  
    
    <li>SASS</li>
    
  
    
    <li>jQuery</li>
    </ul>
  
</article>


</section>

<section id="portfolio-subtitle">
  <h3>Portfolio subtitle</h3>

  <article id="subtitle">
    <h3>Subtitle</h3>

    
      <p>Organized Crime And Corruption Reporting Project had it&#39;s website dated from the last decade.</p>
    
      <p>We&#39;ve managed to come up with a modern, newspaper-like redesign with clean headlines, good structure, clean understanding of priorities.</p>
    
      <p>The new site supports all screens from mobile devices up to large projectors.</p>
    
  </article>



  
    
      


<article id="the-occrp slider on frontpage on mobile" class="work">
  <h3>The OCCRP slider on frontpage on mobile</h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/occrp-frontpage-2-mobile-portrait-1x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/occrp-frontpage-2-mobile-portrait-1x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/occrp-frontpage-2-mobile-portrait-1x.png">
        <source srcset="/assets/images/occrp-frontpage-2-mobile-portrait-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/occrp-frontpage-2-mobile-portrait-1x.png" alt="The OCCRP slider on frontpage on mobile">
      </picture>
      <figcaption>The OCCRP slider on frontpage on mobile</figcaption>
    
  </figure>

  <p>
    
  </p>
</article>

    
  
    
      


<article id="the-occrp frontpage on mobile" class="work">
  <h3>The OCCRP frontpage on mobile</h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/occrp-frontpage-mobile-portrait-1x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/occrp-frontpage-mobile-portrait-1x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/occrp-frontpage-mobile-portrait-1x.png">
        <source srcset="/assets/images/occrp-frontpage-mobile-portrait-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/occrp-frontpage-mobile-portrait-1x.png" alt="The OCCRP frontpage on mobile">
      </picture>
      <figcaption>The OCCRP frontpage on mobile</figcaption>
    
  </figure>

  <p>
    
  </p>
</article>

    
  
    
      


<article id="the-occrp archive page on mobile" class="work">
  <h3>The OCCRP archive page on mobile</h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/occrp-archive-mobile-portrait-1x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/occrp-archive-mobile-portrait-1x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/occrp-archive-mobile-portrait-1x.png">
        <source srcset="/assets/images/occrp-archive-mobile-portrait-1x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/occrp-archive-mobile-portrait-1x.png" alt="The OCCRP archive page on mobile">
      </picture>
      <figcaption>The OCCRP archive page on mobile</figcaption>
    
  </figure>

  <p>
    
  </p>
</article>

    
  


</section>





<section id="menu">
  <h3>Menu</h3>

  <!--
  
  


<nav id="contact" class="icons">
  <h3>Contact</h3>

  
</nav>

-->


  
  


<nav id="links" class="icons">
  <h3>Links</h3>

  
    


<div id="about" class="icon">
  
    <span class="glyph icon-"></span>
    <span class="text">About</span>
  
</div>

  
    


<div id="contact" class="icon">
  
    <span class="glyph icon-"></span>
    <span class="text">Contact</span>
  
</div>

  
    


<div id="styleguide" class="icon">
  
    <span class="glyph icon-"></span>
    <span class="text">Styleguide</span>
  
</div>

  
</nav>

</section>


<!-- jQuery from CDN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Site specific scripts  -->
<script src="/assets/scripts/all.min.js"></script>


</body>
</html>

