





<!doctype html>
<html lang="en" class="smuff">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>It&#39;s Csongor &mdash; Smuff</title>

    <link href="/assets/styles/all.min.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>

    <!-- Typekit -->
    <script src="//use.typekit.net/qiy3lwz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

<header>
  

<div id="logo">
  <h1>
    <a href="/" title="It&#39;s Csongor">It&#39;s Csongor</a>
  </h1>
</div>

</header>




<section id="portfolio-header">
  <h3>Portfolio header</h3>

  

<article id="portfolio-title">
  <h3>Portfolio title</h3>

  <h2><a href="" title="Smuff">Smuff</a></h2>
  
</article>

  <article id="portfolio-services">
  <h3>Portfolio services</h3>

  
    <ul>
    <li>Identity</li>
    
  
    
    <li>Product design</li>
    
  
    
    <li>E-commerce</li>
    
  
    
    <li>Responsive web design</li>
    
  
    
    <li>Front&mdash;end development</li>
    </ul>
  
</article>

  <article id="portfolio-technologies">
  <h3>Portfolio technologies</h3>

  
    <ul>
    <li>Wordpress</li>
    
  
    
    <li>Yii MVC</li>
    
  
    
    <li>API integrations</li>
    
  
    
    <li>HTML5</li>
    
  
    
    <li>CSS3</li>
    
  
    
    <li>SASS</li>
    
  
    
    <li>jQuery</li>
    </ul>
  
</article>


</section>

<section id="portfolio-subtitle">
  <h3>Portfolio subtitle</h3>

  <article id="subtitle">
    <h3>Subtitle</h3>

    
      <p>The collaboration with Smuff started in the founding phase. The business idea for an online gadget store was ready and Smuff needed someone to build a web product around.</p>
    
      <p>During years and iterations we have managed to build a custom e-commerce solution with a high conversion rate design and an automatic content distribution platform—measurable and optimizable—to aid sales and marketing.</p>
    
      <p>Today Smuff is local market leader with 44% of returning customers.</p>
    
  </article>



  
    
      


<article id="the-smuff archive page on mobile" class="work">
  <h3>The Smuff archive page on mobile</h3>

  

  <figure>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source media="(min-width: 90em)" srcset="/assets/images/smuff-archive-mobile-portrait-1x.png">
      <source media="(min-width: 64em)" srcset="/assets/images/smuff-archive-mobile-portrait-1x.png">
      <source media="(min-width: 37.5em)" srcset="/assets/images/smuff-archive-mobile-portrait-1x.png">
      <source srcset="/assets/images/smuff-archive-mobile-portrait-1x.png">
      <!--[if IE 9]></video><![endif]-->

      <img src="/assets/images/smuff-archive-mobile-portrait-1x.png" alt="The Smuff archive page on mobile">
    </picture>
    <figcaption>The Smuff archive page on mobile</figcaption>
  </figure>

  <p>
    
  </p>
</article>

    
  
    
      


<article id="the-smuff product page on mobile" class="work">
  <h3>The Smuff product page on mobile</h3>

  

  <figure>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source media="(min-width: 90em)" srcset="/assets/images/smuff-product-mobile-portrait-1x.png">
      <source media="(min-width: 64em)" srcset="/assets/images/smuff-product-mobile-portrait-1x.png">
      <source media="(min-width: 37.5em)" srcset="/assets/images/smuff-product-mobile-portrait-1x.png">
      <source srcset="/assets/images/smuff-product-mobile-portrait-1x.png">
      <!--[if IE 9]></video><![endif]-->

      <img src="/assets/images/smuff-product-mobile-portrait-1x.png" alt="The Smuff product page on mobile">
    </picture>
    <figcaption>The Smuff product page on mobile</figcaption>
  </figure>

  <p>
    
  </p>
</article>

    
  
    
      


<article id="the-smuff product filters on mobile" class="work">
  <h3>The Smuff product filters on mobile</h3>

  

  <figure>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source media="(min-width: 90em)" srcset="/assets/images/smuff-filters-mobile-portrait-1x.png">
      <source media="(min-width: 64em)" srcset="/assets/images/smuff-filters-mobile-portrait-1x.png">
      <source media="(min-width: 37.5em)" srcset="/assets/images/smuff-filters-mobile-portrait-1x.png">
      <source srcset="/assets/images/smuff-filters-mobile-portrait-1x.png">
      <!--[if IE 9]></video><![endif]-->

      <img src="/assets/images/smuff-filters-mobile-portrait-1x.png" alt="The Smuff product filters on mobile">
    </picture>
    <figcaption>The Smuff product filters on mobile</figcaption>
  </figure>

  <p>
    
  </p>
</article>

    
  


</section>





<section id="menu">
  <h3>Menu</h3>

  <!--
  
  


<nav id="contact" class="icons">
  <h3>Contact</h3>

  
</nav>

-->


  
  


<nav id="links" class="icons">
  <h3>Links</h3>

  
    


<div id="about" class="icon">
  
    <span class="glyph icon-"></span>
    <span class="text">About</span>
  
</div>

  
    


<div id="contact" class="icon">
  
    <span class="glyph icon-"></span>
    <span class="text">Contact</span>
  
</div>

  
    


<div id="styleguide" class="icon">
  
    <span class="glyph icon-"></span>
    <span class="text">Styleguide</span>
  
</div>

  
</nav>

</section>


<!-- jQuery from CDN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Site specific scripts  -->
<script src="/assets/scripts/all.min.js"></script>


</body>
</html>

