@mixin portfolio-header {
  @include flexbox($wrap: wrap);
  padding: $lem;
  background: $gray1;

  article {
    padding-bottom: $lem;

    &#portfolio-title {
      @include flex-item($flex-basis: 33.33%);
      @include portfolio-title;
    }

    &#portfolio-services {
      @include flex-item($flex-basis: 22.22%);
      @include portfolio-services;
    }

    &#portfolio-technologies {
      @include flex-item($flex-basis: 22.22%);
      @include portfolio-technologies;
    }
  }
}
