@mixin portfolio-header {
  @include flexbox($wrap: wrap);
  padding: $lem;
  background: $grey;

  article {
    @include grid;
    padding-bottom: $lem;

    &#portfolio-title {
      @include portfolio-title;
    }

    &#portfolio-services {
      @include portfolio-services;
    }

    &#portfolio-technologies {
      @include portfolio-technologies;
    }
  }
}
