@mixin portfolio-subtitle {
  @include flexbox($wrap: wrap, $align-items: center);
  padding: $lem;
  background: $iorad;

  article {
    @include grid;

    &#subtitle {
      p {
        max-width: $text-width;
        @include font(description);

        + p {
          padding-top: $lem;
        }
      }
    }
  }
}
