@mixin portfolio-subtitle {
  @include flexbox($wrap: wrap, $align-items: center);
  padding: $lem;
  background: $iorad;

  article {
    @include grid;

    &#subtitle {
      p {
        max-width: $text-width;
        font-weight: 400;

        + p {
          padding-top: $lem;
        }
      }
    }
  }
}
