@mixin about {
  //@include colors(white-on-black);

  p {
    padding: $lem - $lem/4;
    max-width: $text-width;
    font-size: $heading-level-1;

    span {
      color: $red;
      font-style: italic;
    }
  }
}
