@mixin about {
  @include colors(white-on-black);
  margin: $lem 0;

  p {
    padding: $lem - $lem/4;
    max-width: $text-width;
    font-size: $heading-level-1;

    span {
      color: $red;
      font-weight: 400;
      font-style: italic;
    }
  }
}
