

<section id="featured-image">
  <h3>Featured image</h3>

  

  <figure>
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source media="(min-width: 90em)" srcset="/assets/images/">
      <source media="(min-width: 64em)" srcset="/assets/images/">
      <source media="(min-width: 37.5em)" srcset="/assets/images/">
      <source srcset="/assets/images/">
      <!--[if IE 9]></video><![endif]-->

      <img src="/assets/images/" alt="Featured image">
    </picture>
    <figcaption>Featured image</figcaption>
  </figure>
</section>
