<section id="profile">
  <h3>Profile</h3>

  








<article id="card">
  <h3>Card</h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/avatar-4x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/avatar-4x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/avatar-3x.png">
        <source srcset="/assets/images/avatar-3x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/avatar-3x.png" alt="Csongor Bartus">
      </picture>
      <figcaption>
        Csongor Bartus
      </figcaption>
    
  </figure>

  <aside>
    <h3>Personal info</h3>

    <div class="name">
      Csongor Bartus
    </div>

    <div class="location">
      Budapest, Hungary, Europe
    </div>
  </aside>
</article>

  





<nav id="contact" class="icons">
  <h3>Contact</h3>

  
    


<div id="send-me an email" class="icon">
  
  <a href="mailto:bartus.csongor@gmail.com" alt="Send me an email">

  
    <span class="glyph icon-mail"></span>
    <span class="text">bartus.csongor@gmail.com</span>
  

  </a>
</div>

  
    


<div id="contact-via twitter" class="icon">
  <a href="http://twitter.com/metamn" alt="Contact via Twitter">
  

  
    <span class="glyph icon-twitter"></span>
    <span class="text">News on Twitter</span>
  

  </a>
</div>

  
    


<div id="code-samples on github" class="icon">
  <a href="http://github.com/metamn/its-csongor" alt="Code samples on Github">
  

  
    <span class="glyph icon-mark-github"></span>
    <span class="text">Code samples on Github</span>
  

  </a>
</div>

  
    


<div id="inspiration-on tumblr" class="icon">
  <a href="http://metamn.tumblr.com" alt="Inspiration on Tumblr">
  

  
    <span class="glyph icon-tumblr"></span>
    <span class="text">Inspiration on Tumblr</span>
  

  </a>
</div>

  
</nav>



</section>
