<section id="profile">
  <h3>Profile</h3>

  



<article id="card">
  <h3>Card</h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/avatar-4x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/avatar-3x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/avatar-3x.png">
        <source srcset="/assets/images/avatar-2x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/avatar-2x.png" alt="User interface and experience designer">
      </picture>
      <figcaption>
        User interface and experience designer
      </figcaption>
    
  </figure>

</section>


</section>
