

<section id="skills">
  <h3>Skills</h3>

  
    


<article id="ui" class="skill">
  <h3>UI</h3>


  <nav class="circles">
  <h3>UI</h3>

  
    
    UI

  
    
    UX

  
    
    RWD

  
    
    CMS

  
</nav>


  <aside>
  <h3>Slide</h3>

  <div class="description">
    I like to design simple and powerful user interfaces and write clean, well documented and reusable front-end code.
  </div>

  
</aside>

  
  
  
</article>

  
    


<article id="ux" class="skill">
  <h3>UX</h3>


  <nav class="circles">
  <h3>UX</h3>

  
    
    UI

  
    
    UX

  
    
    RWD

  
    
    CMS

  
</nav>


  
  <aside>
  <h3>Slide</h3>

  <div class="description">
    All my works are seeking the wholeness, that moment when the viewer becomes one with the message and feels the immediate urge to express satisfaction.
  </div>

  


<a href="message" title="View case study">
  
    View case study
  
</a>

</aside>

  
  
</article>

  
    


<article id="rwd" class="skill">
  <h3>RWD</h3>


  <nav class="circles">
  <h3>RWD</h3>

  
    
    UI

  
    
    UX

  
    
    RWD

  
    
    CMS

  
</nav>


  
  
  <aside>
  <h3>Slide</h3>

  <div class="description">
    All devices are equal. Since 2010.
  </div>

</aside>

  
</article>

  
    


<article id="cms" class="skill">
  <h3>CMS</h3>


  <nav class="circles">
  <h3>CMS</h3>

  
    
    UI

  
    
    UX

  
    
    RWD

  
    
    CMS

  
</nav>


  
  
  
  <aside>
  <h3>Slide</h3>

  <div class="description">
    Better the content better the experience.
  </div>

  
</aside>

</article>

  
</section>
