








<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title> &mdash; It&#39;s Csongor</title>

    <link href="/assets/styles/all.min.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>

    <!-- Typekit -->
    <script src="//use.typekit.net/qiy3lwz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

<header>
  


<div id="logo">
  <h1>
    


<a href="/" title="It&lt;span&gt;&#39;&lt;/span&gt;s Csongor">
  
    It<span>'</span>s Csongor
  
</a>

  </h1>
</div>

</header>






<section id="menu">
  <h3>Menu</h3>

  
  


<nav id="main-menu">
  <h3>Main menu</h3>

  
    


<a href="about" title="About">
  
    About
  
</a>

  
    


<a href="contact" title="Contact">
  
    Contact
  
</a>

  
    


<a href="styleguide" title="Styleguide">
  
    Styleguide
  
</a>

  
</nav>

</section>


<!-- jQuery from CDN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Site specific scripts  -->
<script src="/assets/scripts/all.min.js"></script>


</body>
</html>

