








<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title> &mdash; It&#39;s Csongor</title>

    <link href="/assets/styles/all.min.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>

    <!-- Typekit -->
    <script src="//use.typekit.net/qiy3lwz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

<header>
  


<div id="logo">
  <h1>
    


<a href="/" title="It&lt;span&gt;&#39;&lt;/span&gt;s Csongor">
  
    It<span>'</span>s Csongor
  
</a>

  </h1>
</div>

</header>




<section id="portfolio-header">
  <h3>Portfolio header</h3>

  
<article id="portfolio-title">
  <h3>Portfolio title</h3>

  <h2>


<a href="/" title="It&lt;span&gt;&#39;&lt;/span&gt;s Csongor">
  
    It<span>'</span>s Csongor
  
</a>
</h2>

</article>

  <article id="portfolio-services">
  <h3>Portfolio services</h3>

  
</article>

  <article id="portfolio-technologies">
  <h3>Portfolio technologies</h3>

  
</article>


</section>

<section id="portfolio-subtitle">
  <h3>Portfolio subtitle</h3>

  <article id="subtitle">
    <h3>Subtitle</h3>

    
  </article>



  


</section>





<section id="profile">
  <h3>Profile</h3>

  








<article id="card">
  <h3>Card</h3>

  

  <figure>
    
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 90em)" srcset="/assets/images/avatar-4x.png">
        <source media="(min-width: 64em)" srcset="/assets/images/avatar-4x.png">
        <source media="(min-width: 37.5em)" srcset="/assets/images/avatar-3x.png">
        <source srcset="/assets/images/avatar-2x.png">
        <!--[if IE 9]></video><![endif]-->

        <img src="/assets/images/avatar-2x.png" alt="Csongor Bartus">
      </picture>
      <figcaption>
        Csongor Bartus
      </figcaption>
    
  </figure>

  <aside>
    <h3>Personal info</h3>

    <div class="name">
      Csongor Bartus
    </div>

    <div class="skills">
      UI / UX / RWD / CMS
    </div>

    <div class="location">
      Budapest, Hungary, Europe
    </div>
  </aside>
</article>

  





<nav id="contact" class="icons">
  <h3>Contact</h3>

  
    


<div id="send-me an email" class="icon">
  
  <a href="mailto:bartus.csongor@gmail.com" alt="Send me an email">

  
    <span class="glyph icon-mail"></span>
    <span class="text">bartus.csongor@gmail.com</span>
  

  </a>
</div>

  
    


<div id="contact-via twitter" class="icon">
  <a href="http://twitter.com/metamn" alt="Contact via Twitter">
  

  
    <span class="glyph icon-twitter"></span>
    <span class="text">News on Twitter</span>
  

  </a>
</div>

  
    


<div id="code-samples on github" class="icon">
  <a href="http://github.com/metamn/its-csongor" alt="Code samples on Github">
  

  
    <span class="glyph icon-mark-github"></span>
    <span class="text">Code samples on Github</span>
  

  </a>
</div>

  
    


<div id="inspiration-on tumblr" class="icon">
  <a href="http://metamn.tumblr.com" alt="Inspiration on Tumblr">
  

  
    <span class="glyph icon-tumblr"></span>
    <span class="text">Inspiration on Tumblr</span>
  

  </a>
</div>

  
</nav>



</section>


<!-- jQuery from CDN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Site specific scripts  -->
<script src="/assets/scripts/all.min.js"></script>


</body>
</html>

